<div class="container" style="margin-top: 30px;">
    <div class="card-panel ">
        <div class="row">
            <div class="col m4">
                <img src="/images/chef.jpg" class="responsive-img">
            </div>
            <div class="col m8">
                <h2 class="blue-text">Hello</h2>
                <h3>I am your chef Krishna</h3>
                <i class="fa fa-shield fa-2" aria-hidden="true"></i> &nbsp;
                <i>20 years of experience in making Indian food</i>
                <p>
                    I have been working on Food and services business from last 20 years.All our spices come from land of spices India and nepal.
                    I expertise in below cuisines:
                    <ul>
                        <li style="list-style: disc">North Indian</li>
                        <li style="list-style: disc">South indian</li>
                        <li style="list-style: disc">Nepali</li>
                        <li style="list-style: disc">Chinese</li>
                    </ul>
                </p>
            </div>

        </div>
        <hr>
        <div class="card-action">
            <p class="center-align">
                <h5 class="center-align">
                    <a href="https://www.facebook.com/lordbuddhamexico/">&nbsp;
                        <i class="fa fa-facebook " aria-hidden="true"> Facebook</i>
                    </a>
                    <a href="https://www.instagram.com/lordbuddharestaurant5763/">&nbsp;
                        <i class="fa fa-instagram " aria-hidden="true"> Instagram</i>
                    </a>
                    <a href="https://twitter.com/lordbuddha2024/">&nbsp;
                        <i class="fa fa-twitter " aria-hidden="true"> Twitter</i>
                    </a>
            </p>
            </h5>
        </div>
    </div>


</div>
